.WeatherDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em 0;
  /* border: dotted 1px white; */
  height: 15%;
}

.WeatherDescription p {
  color: #a09fb1;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
}
