.WeatherCard {
  /* background-color: aliceblue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding: 1em;
  /* border: 1px dashed cadetblue; */
  background-color: #1e213a;
}

.max_min_temp_wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* background-color: aliceblue; */
}

.min_temp {
  color: #a09fb1;
}
