.round-btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-weight: 800;
  border-radius: 50%;
  background-color: #585676;
  color: #fff;
  text-align: center;
  font-size: 1em;
  text-decoration: none;
  cursor: pointer;
}

.round-btn:hover {
  background-color: #6d6d82;
}

.round-btn:active {
  background-color: #003d80;
}
