.SearchPage {
  position: relative;
  height: 90vh;
  border: 1px dodgerblue dotted;
  z-index: 2;
  overflow-y: scroll;
  padding: 2em;
}

/* Custom scrollbar styling */
.SearchPage::-webkit-scrollbar {
  width: 8px;
}

/* .SearchPage::-webkit-scrollbar-track {
  background: #f1f1f1;
} */

.SearchPage::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(88, 86, 118, 0.5);
}

.SearchPage::-webkit-scrollbar-thumb:hover {
  background: rgba(88, 86, 118, 0.8);
}
