.CityList {
  position: relative;
  height: 90vh;
  /* border: 1px dodgerblue dotted; */
  z-index: 2;
  overflow-y: scroll;
  padding: 2em;
}

/* Custom scrollbar styling */
.CityList::-webkit-scrollbar {
  width: 8px;
}

.CityList::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(88, 86, 118, 0.5);
}

.CityList::-webkit-scrollbar-thumb:hover {
  background: rgba(88, 86, 118, 0.8);
}
