.city-list {
  position: relative;
  height: 90vh;
  z-index: 2;
  padding: 2em;
  overflow-y: scroll;
}

.city-list ul {
  list-style-type: none;
  padding: 0;
}

/* Custom scrollbar styling */
.city-list::-webkit-scrollbar {
  width: 0.5em;
}

.city-list::-webkit-scrollbar-thumb {
  border-radius: 0.5em;
  background: rgba(88, 86, 118, 0.5);
}

.city-list::-webkit-scrollbar-thumb:hover {
  background: rgba(88, 86, 118, 0.8);
}
