body,
html {
  font-family: 'Raleway';
  color: white;
  height: 100vh;
  width: 100vw;
}
.App {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
  width: 100vw;
}

#primary-section {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #1e213a;
}
#secondary-section {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #100e1d;
}

/* all rules outside of @media queries apply to devices 1201px and above */

@media (max-width: 1200px) {
  /* rules here apply to devices from 993px to 1200px (inclusive) */
}
@media (max-width: 992px) {
  /* rules here apply to devices from 769px to 992px (inclusive) */
  .App {
    grid-template-columns: 1fr;
  }

  #primary-section {
    height: 100vh;
  }
}
@media (max-width: 768px) {
  /* rules here apply to devices from 0px to 768px (inclusive) */
}
